@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #FCEDDA; */
}

html {
  padding-top: 75px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #FCEDDA;
  font-family: 'Poppins', sans-serif;

}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
nav.navbar {
  padding: 0 0 10px 0;
  position: fixed;
  width: 100%;
  background-color: #FFF;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #EE4E34;
  transform-origin: 0%;
}

.barShadow{
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.16);
}


nav.navbar .navbar-nav .nav-link.nav-link {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 0 30px;
  opacity: 0.70;
}

nav.navbar .navbar-nav .nav-link.nav-link:hover,
nav.navbar .navbar-nav .nav-link.nav-link.active {
  opacity: 1;
}

.navbar-button {
  font-weight: 700;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 8px 10px;
  font-size: 15px;
  margin-left: 18px;
  position: relative;
  background-color: #EE4E34;
  transition: 0.3s ease-in-out;
}

.navbar-button:hover {
  background-color: #FCEDDA;
  color: #EE4E34;
  border: 1px solid #EE4E34;
}

.banner {
  margin-top: 0;
  padding: 120px 0 50px 0;
  height: 100vh - (NavBar);
}

.banner img.banner-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 0 0 0 180px;
  /* box-shadow: 60px -46px 8px -11px #EE4E34; */
  box-shadow: 25px -23px 6px 3px #EE4E34;

}

.banner .tagline {
  margin: 0;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: #EE4E34;
  border: 1px solid #FFF;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  font-weight: 500;
  color: #FFF;
}
.banner h1{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.5;
  margin-bottom: 20px;
  display: block;
  animation: 0,5s ease-in-out;
}
.banner p {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 90%;
}

.banner button {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}

.banner button svg {
  margin-left: 20px;
  margin-right: -8;
}

.banner .social-icon a{
  padding: 0 5px;
}
.banner .social-icon a img {
  width: 35px;
  height: 35px;
  margin: 20px 0 0 0;
}

.skills{
  margin: 40px 0;
  padding: 0 0 50px 0;
  position: relative;
}

.skills-box {
  background-color: #EE4E34;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
}

.skills .skills-header{
  color: #FFF;
  font-weight: 700;
}

.skills h5{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.skills p {
  color: #FFF;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skills-slider {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.skills-slider .item img {
  width: 100px;
  height: auto;
  margin: 0 auto 15px auto;
}



@media only screen and (max-width: 992px) {
  nav.navbar .navbar-nav .nav-link.nav-link {
   padding: 15px 0;
  }
  .navbar-button{
    margin-top: 5px;
  }
}

.aboutUs{
  margin: 50px 0;
}
.aboutHeader {
  color: #000;
  font-weight: 800;
  font-size: 35px;
  margin: 0 0 30px 0;
  letter-spacing: 00.3px;
  cursor: pointer;
}
.aboutFooter{
  color: #000;
  font-weight: 700;
  font-size: 78px;
  width: 85%;
  cursor: pointer;
}

.paraOne{
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.paraTwo{
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
.about-cards{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-card{
  margin: 35px 50px 0 0;
}
.about-card .card-header {
  color: #EE4E34;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.about-card .card-footer {
  color: #000;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.infos{
  margin: 30px 0;
}
.info-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 5px #EE4E34 solid;
  padding: 15px 10px;
  background-color: #FCEDDA;
  cursor: pointer;
}

.info-header{
  font-size: 30px;
  font-weight: 800;
  color: #EE4E34;
}
.info-body{
  font-size: 18px;
  font-weight: 500;
  color: #EE4E34;
}
.info-cards-second{
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 5px #EE4E34 solid;
  padding: 15px 10px;
  background-color: #EE4E34;
  color: #FCEDDA;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .banner h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
  .banner img.banner-img {
    margin-top: 70px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 0 0 0 180px;
    box-shadow: 60px -46px 8px -11px #EE4E34;
  }  
  .paraOne {
    margin-top: 20px;
  }
}